@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-3 px-6 flex justify-center items-center gap-2 text-center sm:text-body text-description font-IBM rounded-lg transition-all duration-500 ease-in-out delay-150;
  }
  .btn-primary {
    @apply btn bg-[#87C756] text-white font-bold   hover:bg-primary-500 active:bg-primary-600  disabled:bg-primary-300;
  }
  .btn-primary-secondary {
    @apply btn bg-grey-100 border border-grey-500 text-black font-medium   hover:bg-grey-200 active:bg-grey-300 disabled:bg-grey-100;
  }
  .btn-success {
    @apply btn bg-success-400 text-white font-bold  hover:bg-success-500 active:bg-success-600 disabled:bg-success-300;
  }
  .btn-success-secondary {
    @apply btn bg-success-100  text-success-400 font-medium  hover:bg-success-200 active:bg-success-300 active:text-success-800 disabled:bg-success-100;
  }
  .btn-danger {
    @apply btn bg-danger-400 text-white font-bold  hover:bg-danger-500 active:bg-danger-600 disabled:bg-danger-300;
  }
  .btn-danger-secondary {
    @apply btn bg-danger-100  text-danger-400 font-medium  hover:bg-danger-200 active:bg-danger-300 active:text-danger-800 disabled:bg-danger-100;
  }

  .input {
    @apply block px-3 py-4 w-full bg-grey-200 border border-grey-400 text-black rounded-lg placeholder:text-grey-900 placeholder:font-normal font-medium text-description font-IBM focus:bg-white focus:text-black focus:border-black focus:ring-transparent focus:ring-inset focus:shadow-none disabled:bg-grey-200 transition-all duration-500 ease-in-out delay-150;
  }

  .select-input {
    @apply input hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-4 ps-4 pe-9 flex gap-x-2 text-nowrap  cursor-pointer;
  }

  .select-dropdown {
    @apply mt-2 z-50 w-full max-h-72  space-y-0.5 bg-white border border-black rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-500;
  }
  .select-option {
    @apply py-3 px-4 w-full font-IBM font-normal text-description text-black cursor-pointer hover:bg-secondary-100  focus:outline-none focus:bg-secondary-100;
  }
  .label {
    @apply text-badges text-black font-IBM font-normal block;
  }
  .radioInput {
    @apply h-5 w-5 border bg-primary-100 border-primary-300 text-primary-500 focus:ring-primary-400 hover:border-primary-400;
  }
  .checkBoxInput {
    @apply h-5 w-5 rounded bg-primary-100 border-primary-300  text-primary-600 focus:ring-primary-600;
  }
  .asideItem {
    @apply flex items-center gap-x-3.5 py-5 px-3 text-subTitle text-white  rounded-lg hover:bg-primary-500 focus:outline-none focus:bg-primary-500 hover:border-s-[#85B56B] hover:border-s-4 transition-all ease-in-out duration-200 delay-100;
  }
  .badge {
    @apply py-2 px-6 inline-block my-[1px] rounded-3xl text-badges font-normal font-IBM transition-all ease-in-out duration-200 delay-100;
  }
  .badge-accepted {
    @apply badge text-success-400 bg-success-100 hover:text-success-700 hover:bg-success-200;
  }
  .badge-inReview {
    @apply badge text-alert-400 bg-alert-100 hover:text-alert-700 hover:bg-alert-200;
  }
  .badge-rejected {
    @apply badge text-danger-400 bg-danger-100 hover:text-danger-700 hover:bg-danger-200;
  }
  .badge-primary {
    @apply badge text-secondary-800 bg-secondary-100 hover:text-secondary-900 hover:bg-secondary-200;
  }
  .breadcrumbLink {
    @apply me-1 lg:text-subTitle text-description font-IBM font-normal text-black;
  }
  .tableHeadItem {
    @apply px-6 py-3 text-start md:text-body text-description font-semibold text-black font-IBM;
  }
  .tableBodyItem {
    @apply px-6 py-3  md:text-body text-description font-medium text-black font-IBM;
  }
  .dropdown-menu {
    @apply transition-[opacity,margin]  hs-dropdown-open:opacity-100  opacity-0 hidden  bg-white shadow-dasboardItem shadow-[#00000025] rounded-lg mt-2 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full p-3;
  }
}

@layer base {
  body {
    @apply bg-grey-200;
  }
  .input.erorr {
    @apply border-danger-400 focus:border-danger-400  bg-white !important;
  }
  .input.success {
    @apply border-success-400 focus:border-success-400 bg-white !important;
  }
  .bg-gradient {
    @apply bg-gradient-to-t  to-[#85B56BB2] from-[#213B58B2] bg-opacity-70;
  }
  .bg-gradient-bw {
    @apply bg-gradient-to-t  to-[#00000010] from-[#00000090] bg-opacity-70;
  }
  .splide__pagination {
    @apply justify-end bottom-6 right-5;
  }
  .splide__pagination__page {
    @apply w-8 h-1 rounded-sm;
  }
  .splide__pagination__page.is-active {
    @apply scale-100 bg-white opacity-100;
  }
  .activeAsideItem {
    @apply bg-primary-500 border-s-[#85B56B] border-s-4;
  }
  .Breadcrumb {
    @apply flex flex-wrap justify-between items-center bg-grey-300 py-3 px-5 rounded-lg gap-y-2;
  }
  .Breadcrumb ol li:last-child a {
    @apply font-bold lg:text-title text-body !important;
  }
  .select-option.selected {
    @apply bg-secondary-300;
  }
  .pagination-item {
    @apply relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-primary-200 focus:z-20 focus:outline-offset-0 md:inline-flex;
  }
  .pagination-item.active {
    @apply text-white bg-primary-500 ring-primary-500 hover:bg-primary-700;
  }
  .select-input {
    background-position: left 0.5rem center;
    padding-left: 2.5rem;
  }
  .disabled.select-input {
    opacity: 1 !important;
  }
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf");
  font-weight: 700;
}
